<!-- 
<div class="container">
    <div class="forms">
        <div class="form login">
            <span class="title">Inscription</span>

            <form action="#">
                <div class="input-field">
                    <select name="statut" class="form-control">
                        <Option>Etudiant</Option>                    
                        <Option>Bibliothecaire</Option>
                    </select>
                </div>
                <div class="input-field">
                    <select name="cycle" class="form-control">
                        <Option>Licence professionnelle</Option>
                        <Option>Master</Option>
                        <Option>Ingenieur</Option>
                        <Option>Management</Option>
                    </select>
                </div>
                
                <div class="input-field">
                    <input type="text" placeholder="Enter your Matricule" [(ngModel)]="memberFormData.id" [ngModelOptions]="{standalone: true}">
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Enter your name" [(ngModel)]="memberFormData.nom" [ngModelOptions]="{standalone: true}">
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Enter your login" [(ngModel)]="memberFormData.login" [ngModelOptions]="{standalone: true}">
                    <i class="uil uil-envelope icon"></i>
                </div>
                
                <div class="input-field">
                    <input type="text" placeholder="Enter your email"  required  [(ngModel)]="memberFormData.email" [ngModelOptions]="{standalone: true}">
                    <i class="uil uil-envelope icon"></i>
                </div>
                <div class="input-field">
                    <input type="password" placeholder="Enter your password" required [(ngModel)]="memberFormData.passWord" [ngModelOptions]="{standalone: true}">
                    <i class="uil uil-lock icon"></i>
                    <i class="uil uil-eye-slash showHidePw"></i>
                </div>
                <div class="input-field">
                    <input type="file" placeholder="Choose a profile picture" id="profilePicture" name="profilePicture" accept="image/*" [(ngModel)]="memberFormData.photo" [ngModelOptions]="{standalone: true}">
                </div>

               <div class="input-field button">
                    <i class="fas fa-check"></i>
                    <input type="button" (click)="registerMember()" value="s'inscrire">
               </div>
            </form>
            
            <div class="login-signup">
                <span class="text">
                    <a href="#" class="text signup-text" routerLink="/login">Connecte toi!</a>
                </span>
            </div>
        </div>
    </div>
</div> -->

<div class="flex items-center justify-center h-screen">

<div class="flex flex-col max-w-md px-4 py-8 bg-white rounded-lg shadow dark:bg-gray-800 sm:px-6 md:px-8 lg:px-10">
    <div class="self-center mb-2 text-xl font-light text-gray-800 sm:text-2xl dark:text-white">
        Create a new account
    </div>
    <span class="justify-center text-sm text-center text-gray-500 flex-items-center dark:text-gray-400">
        Already have an account ?
        <a href="/login" target="_blank" class="text-sm text-blue-500 underline hover:text-blue-700">
            Sign in
        </a>
    </span>
    <div class="p-6 mt-8">
        <form action="#">
            <div class="flex flex-col mb-2">
                <div class=" relative ">
                    <input type="text" id="create-account-pseudo" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" name="pseudo" placeholder="Pseudo" required [(ngModel)]="memberFormData.login" [ngModelOptions]="{standalone: true}"/>
                    </div>
                </div>
                <div class="flex gap-4 mb-2">
                    <div class=" relative ">
                        <input type="text" id="create-account-first-name" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" name="First name" placeholder="First name" [(ngModel)]="memberFormData.nom" [ngModelOptions]="{standalone: true}"/>
                        </div>
                        <div class=" relative ">
                            <input type="text" id="create-account-last-name" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" name="Last name" placeholder="Last name"/>
                            </div>
                        </div>
                        <div class="flex flex-col mb-2">
                            <div class=" relative ">
                                <input type="text" id="create-account-email" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Email" required  [(ngModel)]="memberFormData.email" [ngModelOptions]="{standalone: true}" />
                                </div>
                            </div>
                            <div class=" relative ">
                                <input type="text" id="create-account-password" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent" placeholder="Password" required [(ngModel)]="memberFormData.passWord" [ngModelOptions]="{standalone: true}"/>
                                </div>
                                <div class=" relative ">
                                    <input type="file" placeholder="Choose a profile picture" accept="image/*" [(ngModel)]="memberFormData.photo" [ngModelOptions]="{standalone: true}" id="create-account-photo" class=" rounded-lg border-transparent flex-1 appearance-none border border-gray-300 w-full py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-sm text-base focus:outline-none focus:ring-2 focus:ring-purple-600 focus:border-transparent"/>
                                </div>
                            <div class="flex w-full my-4">
                                <button type="submit" class="py-2 px-4  bg-purple-600 hover:bg-purple-700 focus:ring-purple-500 focus:ring-offset-purple-200 text-white w-full transition ease-in duration-200 text-center text-base font-semibold shadow-md focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg " (click)="registerMember()">
                                    Login
                                </button>
                            </div>
                        </form>
                        
                    </div>
            </div>
</div>